/* src/styles/About.css */

.about-container {
  padding: 4rem 2rem;
  margin: 0; /* Remove a margem superior */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Fundo branco */
  color: #333; /* Cor do texto */
}

.about-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.about-photo {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-left: 2rem; /* Espaçamento entre o texto e a imagem */
}

.about-photo img {
  width: 100%;
  max-width: 450px; /* Aumenta o tamanho máximo da imagem */
  height: auto;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra da imagem */
}

.about-text {
  flex: 2;
  padding-right: 2rem;
}

.title {
  font-size: 4rem; /* Aumenta o tamanho da fonte */
  margin-bottom: 1rem;
  position: relative;
}

.title::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #67AABC; /* Cor da linha */
  margin-top: 0.5rem;
}

.description {
  font-size: 1.4rem; /* Aumenta o tamanho da fonte */
  line-height: 1.8;
}
