/* src/styles/NavbarDesktop.css */
.navbar {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 1000;
}
  
.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
}
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.navbar-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: center; /* Centraliza os itens */
}
  
.navbar-links li {
    margin: 0 50px; /* Espaçamento entre os itens */
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.navbar-logo {
    margin: 0 40px; /* Espaçamento maior para destacar o logo */
}
  
.navbar-logo img {
    height: 80px; /* Aumenta o tamanho do logo */
}
  
.navbar-links li a {
    text-decoration: none;
    color: #67AABC; /* Ajuste para a cor desejada */
    transition: color 0.3s;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.navbar-links li a i {
    font-size: 42px; /* Aumenta o tamanho dos ícones */
    margin-bottom: 5px; /* Espaçamento entre o ícone e o texto */
}
  
.navbar-links li a:hover {
    color: #F28b82; /* Ajuste para a cor desejada */
}
  
.navbar-button {
    background: none;
    border: none;
    color: #333; /* Ajuste para a cor desejada */
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}
  
.navbar-button:focus {
    outline: none;
}
