/* src/styles/Welcome.css */
@import url('https://fonts.googleapis.com/css2?family=Vladimir+Script&display=swap');

.welcome-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0; /* Remove margem */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Shadow overlay */
  z-index: 2;
}

.welcome-message {
  position: relative;
  z-index: 3;
  color: rgba(255, 255, 255, 0.6); /* Branco fosco */
  text-align: center;
  font-family: 'Vladimir Script', cursive;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.welcome-message h1 {
  font-size: 12em;
  margin: 0;
}

.welcome-message h2 {
  font-size: 8em;
  margin: 0;
}

.quem-sou-eu-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 2em;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #67AABC; /* Cor do texto (azul claro do navbar) */
  background-color: transparent; /* Fundo transparente */
  border: 2px solid #67AABC; /* Borda azul clara */
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.quem-sou-eu-button:hover {
  background-color: #67AABC; /* Cor de fundo ao passar o mouse */
  color: white; /* Cor do texto ao passar o mouse */
}
